{# index.html 
	Jinja2 is a templating language. It lets you reuse most of your boilerplate HTML and CSS and JS. .
	This line below means that we're going to ... hmm... extend (haha) the layout.html file into this file so we dont have to write all the boilerplate which is tedious and messy. 

 #}
{% extends 'layout.html %' %}



{# in our layout.html we'll setup the boilerplate and a few 'blocks' which is how we target where we want to put the content of this file #}



{% block content %}
{# so now eveything we put betweemn these brackets.. will show up in the layout.html area where we defined block content... hope that makes sense.  #}

{#  Ok so this whole show and tell has been to show you flask. so you can build web apps super quick and easy and it will be fun. doing it any other way  is lame. and tedious. and frustrating.  #}


	

{% endblock %}